html {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    background: white;
    width: 100vw;
    height: 100vh;
}

.nav-container {
    width: 100%;
    background: white;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin: 10px 0;
}

.menu-icon {
    width: 100px;
    cursor: pointer;
    margin: 10px 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

nav ul li a:hover {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Source Serif Pro", serif;
}
h2 {
    text-align: center;
    font-family: "Source Serif Pro", serif;
}

#home-description {
    display: block;
    margin: 0 auto;
}

#home-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 5px;
}

#home-description > p {
    width: 60%;
    background: transparent;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

#home-description {
    padding-bottom: 50px;
}

#btnSignUp {
    display: block;
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
        background: #545351;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: black;
    }
}

#signup-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: darkgrey;
    width: 40vw;
    padding: 15px;
    border-radius: 5px;
}

#login-form {
    display: block;
    margin: 0 auto;
    background: darkgrey;
    width: 40vw;
    padding: 15px;
    border-radius: 5px;
}

#inverse-color {
    color: white;
}

.black-row {
    background-color: black;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.black-col {
    
}