  html {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
  }

  body {
    background-color: #FFB698;
  }

  h1 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    font-family: "Source Serif Pro", serif;
  }

  h2 {
    text-align: center;
    font-family: "Source Serif Pro", serif;
  }

  h3 {
    font-size: 22px;
    color: black;
  }

  h5 {
    font-size: 12px;
    color: #FF8A5A;
  }

  footer {
    padding-top: 25px;
    height: 100px;
    background-color: white;
  }

  a {
    color: #CC4209;
  }

  a:hover {
    color: #FF8A5A;
  }

  .container-fluid {
    background-color: white;
  }

  .tagline {
    padding-top: 25px;
  }

  .sm-card {
    width: 20rem;
  }

  .md-card {
    width: 50rem;
  }

  .dash-card {
    width: 20rem;
    background-color: #CC4209;
  }

  .card-group {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .dash-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-custom {
    background-color: white; 
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: #000;
  }
  
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-text:hover {
    color: #FF8A5A;
  }
  
  .nav-link {
    color: #000;
  }
  
  .nav-link:hover {
    color: #FF8A5A;
  }
  
  .header-row {
    padding-top: 25px;
  }

  .no-hero-img {
    padding-top: 100px;
    background-color: #FFB698;
  }
  
  .white-container {
    background-color: white;
    padding-bottom: 50px;
    padding-top: 10px;
  }

  .black-container {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .trans-container {
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 100px;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(74,7,96, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(74,7,96);
  } 
  
  #nav-work, #nav-ed, #nav-hob {
    font-style: underline;
  }

  #btnSignUp {
    background-color: #FFB698;
    color: black;
    border: white;
  }

  #inverse-color {
    color: white;
}

#under-btn {
    text-align: center;
    font-size: 12px;
}

#dash-header {
    text-align: center;
    padding-bottom: 50px;
}

#inverse-hyperlink {
    color: white;
}

.sign-out {
    padding-top: 100px;
}

.loadMoreRow {
    padding-top: 50px;
}
div#msg {
  display: none;
}

#currentUserSide {
  display: contents;
}

#dateSide {
  display: contents;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}